# 추천시스템 TEST

In [1]:
import surprise

In [98]:
data = surprise.Dataset.load_builtin('ml-100k')
df = pd.DataFrame(data.raw_ratings, columns=['user','item','rate','id'])
del df['id']

df.head(10)

  user item  rate
0  196  242   3.0
1  186  302   3.0
2   22  377   1.0
3  244   51   2.0
4  166  346   1.0
5  298  474   4.0
6  115  265   2.0
7  253  465   5.0
8  305  451   3.0
9    6   86   3.0

In [3]:
df_pivot = pd.pivot_table(df, index=df.user, columns=df.item)
df_pivot.shape

(943, 1682)

In [4]:
df_pivot.iloc[212:222, 808:817].fillna("")

     rate
item  211  212  213  214  215  216  217  218  219
user
290   3.0                      4.0       2.0
291        4.0       4.0  4.0            4.0  4.0
292                  3.0
293   4.0       3.0       4.0  4.0  3.0  2.0
294
295             5.0       5.0  5.0  4.0  5.0
296   4.0
297   4.0       3.0       2.0  4.0       3.0
298   5.0       3.0       5.0
299   4.0  4.0  5.0            5.0

# Cross Validation

In [6]:
from surprise.model_selection import cross_validate

cross_validate(algo, data)

Estimating biases using als...
Estimating biases using als...
Estimating biases using als...
Estimating biases using als...
Estimating biases using als...

{'test_rmse': array([0.9384446 , 0.94651657, 0.93612815, 0.94221861, 0.94428787]),
 'test_mae': array([0.74477853, 0.75124267, 0.73975393, 0.745764  , 0.74659098]),
 'fit_time': (0.12663531303405762,
  0.17752361297607422,
  0.18350672721862793,
  0.16655468940734863,
  0.14266324043273926),
 'test_time': (0.08278036117553711,
  0.0937492847442627,
  0.10272502899169922,
  0.10870766639709473,
  0.07181143760681152)}

# Prediction

In [48]:
iids = range(1, 1001)
item = []
est = []

for iid in iids:
    uid = str(1)
    iid = str(iid)
    item.append(algo.predict(uid, iid).iid)
    est.append(algo.predict(uid, iid).est)

prediction = []
    
for pair in zip(item, est):
    prediction.append(pair)
    
result_df = pd.DataFrame(prediction, columns=['iid', 'est'])
result_df.sort_values(by = 'est', ascending=False).head()

     iid       est
317  318  4.470296
168  169  4.470110
482  483  4.448808
407  408  4.445473
63    64  4.435275

In [58]:
import pickle

# save the model to disk
filename = '../model/recommend_test.sav'
pickle.dump(algo, open(filename, 'wb'))

In [74]:
import joblib

# load the model from disk
loaded_model = joblib.load(filename)


iids = range(1, 1001)
user = []
item = []
est = []

for iid in iids:
    uid = str(1)
    iid = str(iid)
    user.append(loaded_model.predict(uid, iid).uid)
    item.append(loaded_model.predict(uid, iid).iid)
    est.append(loaded_model.predict(uid, iid).est)

prediction = []
    
for pair in zip(user, item, est):
    prediction.append(pair)
    
result_df = pd.DataFrame(prediction, columns=['user', 'iid', 'est'])
result_df.sort_values(by = 'est', ascending=False).head()

    user  iid       est
317    1  318  4.470296
168    1  169  4.470110
482    1  483  4.448808
407    1  408  4.445473
63     1   64  4.435275

In [81]:
final_df = result_df.sort_values(by = 'est', ascending=False).head()

In [97]:
final_df[['iid']].values.tolist()

[['318'], ['169'], ['483'], ['408'], ['64']]

In [80]:
print(final_df.iid.values)

['318' '169' '483' '408' '64']

In [ ]:
input

In [66]:
loaded_model = joblib.load(filename)

AttributeError: module 'tensorflow' has no attribute 'Session'